body
  margin: 0
  padding: 0
    
#navbar
  padding: 9px
  margin: 0
  
.masthead
  background-image: url('../images/stars.jpeg')
  background-size: cover
  height: 89vh
  width: 100vw
  
h1.ui.centered.header
  color: white
  padding-top: 18%
  font-size: 3em
  font-weight: 200
  
.input.container
  text-align: center

  
  
  